/*.form-group.has-error label.control-label,
.form-group.has-error .help-block {
	display: block;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
.ms-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  
}
.glyphicon.glyphicon-trash{
  color: #B74635;
}
.glyphicon.glyphicon-pencil{
  color: rgb(105,170,70);
}
.ms-paper {
  margin-bottom: 8rem;
}
.breadcrumb {
    padding: 15px;
}
.ms-collapse-nav li.panel a.uncollapse {
    background-color: #fff;
    color: #424242;
    content: "";
}
.ms-collapse-nav li.panel a.collapsed {
    background-color: #fff;
    color: #424242;
}

#header-nav-left {
    float: left;
    margin: -13px 8px;
    max-width: 100%;
}
/*.form-group label {
    color: #74726a !important;
}
.form-group label.control-label {
    font-size: 13px;
}*/

.card .card-header h1, .card .card-header h2, .card .card-header h3, .card .card-header h4, .card .card-header h5, .card .card-header h6 {
  margin: 0;
  font-weight: 500!important;
}

.table {
    color: #788084;
}
@media screen and (max-width: 1640px) and (min-width: 992px) {
  
    .button-content {
        display: none;
    }
    .mob-button-content {
        display: inline!important;
    }
}
@media screen and (max-width: 992px)  {
  
    .float-right{
      float: left !important;
      margin-left: 20px!important;
    }
}

.todo-box {
    background: #fcfcfc none repeat scroll 0 0;
    border-left-style: solid;
    border-left-width: 3px;
    margin: 0 0 2px;
    padding: 10px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-style: solid;
    border-width: 1px 1px 0 0;
}
 .btn-hide{
    display: none!important;
  }
  .btn-display{
    display: -webkit-inline-box;
  }
.blue{
    background-color: #F0F6FF;
}
.borderless td, .borderless tr {
    border: none;
}

.ui-front {
   z-index: 999;
}
.ui-autocomplete{
   display: block;
}

.cross-over {
    font-style: italic;
    text-decoration: line-through;
font-size: 15px;
}
.info {
    background: #c6e8ff none repeat scroll 0 0;
    border-color: #62baf6;
    color: #0f2c62;
}

/*.sfActive{
    background-color: black!important;
}
.bactive{
    background-color: #2D2D2D!important;
}*/
/*.grid-text-align-center{
    text-align: center;
}*/

/*.content-box .content-box-wrapper {

   padding: 0px;
}*/
/*.content-box.border-top {
   
   border-top-width: 1px!important;
}*/

.logo-footer {
    height: 34px;
    margin-left: 497px;
    width: 109px;
}


.right{
    margin-right: 306px;
}
/*.footer-pane {
    background: none;
    padding: 10px 0;
}*/
/*.login-box{
    height: 133px;
}*/

.login-logo-left-margin-90 {
   margin-left: 38px;
}
.login-logo-right-margin-90 {
   margin-right:38px;
}
@media screen and (max-width: 1333px)  {
  
  .login-logo-left-margin-90 {
   margin-left: 50px;
}
.login-logo-right-margin-90 {
   margin-right: 50px;
}
}
@media screen and (max-width: 1137px)  {
  
  .login-logo-left-margin-90 {
   margin-left: 30px;
}
.login-logo-right-margin-90 {
   margin-right: 30px;
}
}
@media screen and (max-width: 1042px)  {
  
  .login-logo-left-margin-90 {
   margin-left: 20px;
}
.login-logo-right-margin-90 {
   margin-right: 17px;
}
}
@media screen and (max-width: 1130px) {
  
  .margin10a{
    margin-right: -22px;
}
}
@media screen and (max-width: 1030px) {
  
  .margin10a{
    margin-right: -32px;
}
}
@media screen and (max-width: 599px) and (min-width: 380px) {

  
  .margin10a{
    margin-right: 42px;
}
.login-logo-right-margin-90 {
    margin-right: -22px;
    margin-top: -21px;
}
}
@media screen and (max-width: 992px) and (min-width: 418px) {

.logo-center{
   margin-right:212px!important;
}
.login-logo-right-margin-90 {
    margin-top: 0px;
}

}
 @media screen and (max-width: 1024px) {
  
 .closed-sidebar #header-logo .logo-content-big {
    display: none;
    width: 0;
}
} 
.logo-center{
    margin-left:165px;
}
@media screen and (max-width: 1194px) and (min-width: 994px) {

.logo-center{
   margin-right:212px!important;
}
.login-logo-right-margin-90 {
    margin-top: 0px;
}

}

.clearCache {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

@media(max-width:436px) {
    .btn .label {
         display: none;
    }
}
h4 f10px{
font-size: 10px;
}

.select2-arrow b{
  background: #ffffff;
}

 select2-container .select2-choice .select2-arrow b::before, .select2-selection__arrow b::before {
    content: "";
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}
.select2-search {
   
}
/*body.smart-style-6 {
    background:url(../img/mybg.png)!important;
    
}*/
#loadings {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.9;
}
.spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
body { padding-right: 0 !important }

#down-padding{
 margin-top: 100px;
}
.kv-treeview-alerts .alert-warning,.kv-treeview-alerts .alert-success,.kv-treeview-alerts .alert-danger,.kv-treeview-alerts .alert-info{
  display: none;
}
.kv-tree-list {

    margin: 0;
    background: #deeafc;
    position: relative;
    top: 1em;
    width: 100%;
    cursor: default;

}