/*
* @Author: Ajay
* @Date:   2018-06-06 15:51:55
* @Last Modified by:   Ajay
* @Last Modified time: 2018-06-07 21:06:19
*/
@media screen and (max-width: 1380px) and (min-width: 992px) {

.file-preview-frame{
	width: 134px;
}
.krajee-default.file-preview-frame .kv-file-content {
    width: 119px!important;
}

}

}
