.file-thumbnail-footer{
    display: none;
}
.form-control.file-caption.kv-fileinput-caption{
 display: none;
}
.file-preview {
    border: none!important;
   
}
.close{
    display: none;
}
.file-caption-main {
    margin-left: 17px!important;
   
}

.file-preview-image{
	width:160px!important;height:160px;
}

.file-drop-zone {
    border:none!important;

}
.file-drop-zone {
 
 margin: 8px 15px 12px -27px!important;

}