.modal-lg {

    width: 100%!important;
    height: 100%!important;
   background: url(../img/mybg.png) #fff!important;
}
.modal-content {

    height: 100%;

}
#draggable{
display: block;
 padding-left: 15px;
 padding-right: 15px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.lockscreen {
    height: 250px;
    left: 50%;
    margin-left: -239px;
    margin-top: 0px;
    position: absolute;
    top: 50%;
    width: 478px;
}
.modal-dialoge {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url(../img/mybg.png) #fff;
    direction: ltr;
}