#content {
    padding: 61px 14px!important;
    position: relative;
}


  .alert {
    opacity: 0.95;
    position: absolute;
    width: 100%;
    z-index: 16;
}
.list-group-item {
    border:  none!important;
    
}
 html,body {
        height: 100%;
    
   }

.login-img {

   
    width: 228px;
    height: 54px;

    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
   /* width: 50%!important;*/
}

nav ul {
    width: auto!important;
    
}
@media screen and (max-width: 1640px) and (min-width: 320px) {
  
    .button-content {
        display: none;
    }
    .mob-button-content {
        display: inline!important;
    }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  
    nav ul {
    width: 100%!important;
    
}
}

.alert {

    z-index: 9999;
}
.alert {
    position: fixed;
   
}

.blue.accent-1 {
    background-color: #82b1ff !important;
}
.form-header {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    color: #fff;
    text-align: center;
    margin-top: -3.13rem;
    margin-bottom: 3rem;
    padding: 1rem;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
}
.blue {
    background-color: #2196f3 !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.blue.accent-1 {
    background-color: #82b1ff !important;
}
.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
   display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


  /*-----------------*/
  body {
      position: relative;
  }
.navbar-nav{
 /* float: none!important;*/
}
html,body{
background: url(../img/mybg.png) #fff!important;
 }
 .bg-smart-6{
  background-color: #2196f3;
  border-color: #2196f3;
 }
 .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}
.anchor {
   position: relative;
   top: -[number]px;

}
.btn-floating i {
    font-size: 2.25rem;
    line-height: 47px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}


